# Python cache
__pycache__/
*.py[oc]

# Build artifacts
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/
.cache

# Logs
*.log
logs/

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Editor / OS
.vscode/
.DS_Store

# Data outputs
*.json
*.parquet
*.csv
*.gz

# Docker files
docker-compose.yml
Dockerfile